.manage-doctor-container {
    padding: 10px;

    .manage-doctor-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #0071ba;
    }

    .more-infor {
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left {
            width: 33%;
        }

        .content-right {
            width: 67%;
        }
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
        outline: none;
        padding: 5px;
        background-color: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
        outline: none;
        padding: 5px;
        background-color: #0071ba;
        cursor: pointer;
        color: white;

        &:hover {
            opacity: 0.9;
        }
    }
}