/* reset margin, padding */
body {
  margin: 0px !important;
  padding: 0 !important;
}

.banner {
  height: 600px;
  background: url("./banner.jpg") center no-repeat;
}
.banner .about-sign-in {
  height: 80px;
  padding: 20px;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border: 1px solid green;
  border-radius: 20px;
}
.banner .logo {
  height: 100px;
  margin-top: 40px;
  background: url("./hapoERP.png") center no-repeat;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner .content-center img {
  width: 50px;
  height: 50px;
}
.banner .content-center span {
  margin-top: 10px;
  display: block;
  font-size: 30px;
}
.banner .start-now {
  text-align: center;
}
.banner .start-now button {
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid green;
  border-radius: 20px;
  text-transform: uppercase;
}
